# Dependencies
node_modules/

# Build outputs
dist/
build/
/src/generated/prisma

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env
.env.*
!.env.example
!.env.test.example

# Testing
coverage/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.tgz
